// light color
$primary: #2363DE;
$secondary: #F7F7F7;

$body-bg: #f8fafc;
$body-color: black;

$navbar-light-color: #fff;

// dark color
$primary-dark: #3892F3;
$secondary-dark: #0B1120;

$body-bg-dark: #0F172A;
$body-color-dark: white;

$navbar-dark-color: $secondary-dark;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// other
$color-mode-type: data;