// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

@import "../../node_modules/bootstrap/scss/functions";

@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.nav-link {
    color: #888;
}

.active-link {
    color: $primary;
}

.box-shadow {
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.06);
}

#vote {
    color: $primary;
    position: relative;
}

#vote::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #fede00;
    bottom: -1px;
    left: 0;
    z-index: -1;
}

.burger-icon {
    width: 2rem;
    aspect-ratio: 1/1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.burger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 9999px;
    background-color: rgb(120, 120, 120);
}

.theme-dropdown {
    margin-inline: 1.5rem;

    @media (max-width: 990px) {
        margin: {
            inline: 0;
            block: 0.8rem;
        }
    }
}

@include color-mode(dark) {
    .nav-link {
        color: #dedede;
    }

    .active-link {
        color: $primary-dark;
    }

    .typer {
        color: white !important;
    }

    .box-shadow {
        box-shadow: 0px 6px 60px rgb(255 255 255 / 6%);
    }

    #vote {
        color: #fede00;
        position: relative;
    }

    #vote::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: $primary;
        bottom: -1px;
        left: 0;
        z-index: -1;
    }

    .btn-primary {
        background-color: $primary-dark;
    }

    .btn-secondary {
        color: $secondary;
        background-color: $secondary-dark;
        border-color: $secondary-dark;
    }

    .bg-primary {
        background-color: #143464 !important;
    }

    .card_candidate {
        background-color: #1e293b;
        box-shadow: 7px 7px 0px 0px #ffffff3d;
        -webkit-box-shadow: 10px 10px 0px 0px #ffffff3d;
        -moz-box-shadow: 10px 10px 0px 0px #ffffff3d;
        border: 2px solid #ffffff3d;
        
        @media (max-width: 990px) {
            box-shadow: 6px 6px 0px 0px #ffffff3d;
            -webkit-box-shadow: 6px 6px 0px 0px #ffffff3d;
            -moz-box-shadow: 6px 6px 0px 0px #ffffff3d;
            border: 1px solid #ffffff3d;
        }
    }

    .accordion-button {
        background-color: #143464 !important;
    }

    .accordion-button:not(.collapsed) {
        color: rgb(220, 220, 220) !important;
    }

    .burger-icon span {
        background-color: white;
    }

    .navbar {
        background-color: #0F172A;
    }
}
