@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

#hero {
    margin-top: 75px !important;
}

#partner {
    margin-top: 75px !important;
}

#partner .img-fluid {
    width: auto;
    max-height: 100px;

    object-fit: cover;
}

#countdown {
    color: #fff !important;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#countdown .glass {
    margin: 10px;
}

@media (max-width: 768px) {
    #countdown .glass {
        margin: 0;
    }
}

#countdown .row .card {
    max-height: 300px;
    color: white;
}

#countdown .row .card h1 {
    /* center */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5rem;
}

.glass {
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    -moz-backdrop-filter: blur(13.5px);
    border-radius: 12px;
    max-width: 300px;
}

#login-section {
    height: 100vh;
}

#log-left {
    height: 100vh !important;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-glass {
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    -moz-backdrop-filter: blur(13.5px);
    border-radius: 12px;
}

.text-warning {
    color: #fede00 !important;
}

.text-primary {
    color: var(--primary-color);
}

.grayscale-img-hover {
    filter: grayscale(90%);
    transition: filter 0.3s;
}

.grayscale-img-hover:hover {
    filter: grayscale(0%);
}
